* {
 padding:0px;
 margin: 0px;
 line-height: 1.8em;
}

body {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    '. b .';
}

header {
  grid-area: h;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1650px;
  padding: 0px 20px;
}

header > nav > * {
  display: flex;
  justify-content: center;
  grid-gap: 15px;
}

nav > * > img {
  width: 20px;
}

main {
  grid-area: b;
  margin: 100px auto;

  display: grid;
  grid-template-columns: 1fr minmax(400px, 700px) 1fr;
  grid-gap: 5px 40px; 
  grid-template-areas: 
    '. title .'
    'head head head'
    'lside article rside';
}

main > h1 {
  grid-column: title;
}

main > img {
  grid-column: head;

  display: grid;
  justify-items: center;
}

main > * {
  grid-column: article;
  display: grid;
}

main > .side-bar {
  grid-column: rside;
  grid-row: span 4;
  align-content: center;
  justify-items: center;
}

main > .theory-of-inflation {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

main > .theory-of-inflation > section{
  margin-top: 75px;
}

main > .theory-of-inflation > h1,
main > .theory-of-inflation > p,
main > .theory-of-inflation > .photo {
  grid-column: 1 / -1;
}


main > img,
.photo > img,
.telescope-picture > img {
  width: 100%;
}