body {
  height: 100vh;
  display: grid;
  place-items: center;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  border: 1px solid black;
  display: grid;
  place-content: center;
  height: 25vw;
  width: 25vw;
  max-height: 200px;
  max-width: 200px;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: 1px solid transparent;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: 1px solid transparent;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: 1px solid transparent;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: 1px solid transparent;
}

#scoreboard {
  height: 110px;
}

#inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  place-items: center;
}

#scoreboard {
  display: none;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 20px 50px;
}

.player-score, 
.buttons {
  display: grid;
  place-items: center;
  text-align: center;
}

#inputs div {
  display: grid;
  grid-gap: 10px;
  place-items: center;
}

#inputs button {
  grid-column: 1/-1;
}