[submodule "TheOdinProject/01-Foundations/04-HTML Foundations/08-recipesProject/OdinProject-Recipes"]
	path = TheOdinProject/01-Foundations/04-HTML Foundations/08-recipesProject/OdinProject-Recipes
	url = https://github.com/TannerHarman/OdinProject-Recipes.git
