* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: end;
  align-content: end;
  margin: 0;
}

body form {
  display: grid;
  grid-template-columns: repeat(4, auto);
  place-items: center;
  place-content: center;
  grid-gap: 20px;

  width: 100%;
  background-color: skyblue;
  padding-bottom: 10px;
}

form h1,
form button {
  grid-column: 1 / -1 ;
}

.form-title,
.form-author,
.form-pages,
.form-status{
  display: grid;
  grid-row-gap: 5px;
}

.form-status {
  grid-template-columns: repeat(3, auto);
  place-items: center;
  text-align: center;
} 

.form-status h3 {
  grid-column: 1/-1;
}

#book-list {
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 100%;


  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-gap: 13px;
  justify-content: center;
  overflow: auto;
}

.book {
  min-height: 225px;
  border: 1px solid blue;
  padding: 5px;
}