html {
  background-color: #EBEDF0;
}

body {
  display: grid;
  grid-template-rows: minmax(100px, auto) auto minmax(100px, auto);
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  min-height: 100vh;
  align-items: center;
}

header > .sign-in {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sign-in > .sign-in-text > * {
  padding: 0px;
  margin: 0px 20px;
  text-align: center;
}

.sign-in > .button {
  background-color: #0077C5;
  padding: 10px 25px;
  border-radius: 5px;
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
}

.main-wrapper {
  max-width: 400px;
  height: auto;
}

.form > * {
  padding: 0px;
  margin: 0px;
}

.form {
  background-color: #fbfbfb;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  height: 700px;
  padding: 30px;

  display: grid;
  justify-items: center;
}

.form > .email-input,
.form > .phone-input,
.form > .password-input,
.form > .button-input { 
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.password-input > .fa-lock-open {
  position: absolute;
  right: 10px;
  top: 27px;
}

.form > * > input {
  background-color: white;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.button-input > input {
  height: 50px;
  background-color: #0077C5;
  border: none;
  border-radius: 5px;
  color: white;
}

.form h1,
.form > .one-account,
.form > .form-agreement,
.form > .recaptcha {
  text-align: center;
}

.form-agreement, .recaptcha {
  align-self: end;
}

footer {
  display: grid;
}