nav {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
}

nav > * {
  padding: 14px 14px;
}

nav > .fas {
  font-size: 20px;
  border-left: 1px solid rgba(0,0,0,.15);
  margin: 0px;
}

.fa-search {
  color: rgba(0,0,0,.15);
}

.fa-bars {
  color: #f42;
}

nav > img {
  justify-self: start;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  padding: 16px 20px;
  background-size: auto;
  width: 66px;
  height: 16px;
}

body > .cover {
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.cover > .cover-story {
  height: 28.65vh;
  position: relative;
}

.cover-story > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cover-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  background: linear-gradient( rgba(0,0,0, 0.20), rgba(0, 0, 0, 1));
  height: 100%;
  width: 100%;
  display: grid;
  align-items: end;
}

.cover-header {
  display: grid;
  grid-gap: 5px;
  align-items: end;
  color: white;
  margin-left: 10px;
  margin-bottom: 15px;
}

.cover-header > .head {
  text-transform: uppercase;
}

.cover-header > .cover-title {
  font-size: 20px;
  font-weight: 700;
}

.cover-header > .cover-byline {
  color: hsla(0,0%,100%,.6);
  font-size: 12px;
  line-height: 16px;
  display: flex;
}

.cover-byline li {
  margin: 0px 4px;
}

.cover-byline > li a{
  text-decoration: none;
  color: hsla(0,0%,100%,.6);
}

.cover-byline > li > .fas,
.cover-byline > li > .far {
  font-size: 15px;
}

.main-wrapper {
  margin: 0px 20px; 
}
  
section {
  margin: 60px 0px;
}

.latest-article {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  justify-items: start;
  align-items: start;
  margin: 10px 0px;
}

.section-title {
  color: #f42;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 30px;
}

.section-title::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23F42" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  position: relative;
  top: 2px;
  width: 16px;
}

.latest-article img {
  grid-row: 1 /-1;
  width: 75px;
  height: 75px;
  object-fit: cover;
  object-position: center;
}

.latest-article > .article-title {
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
}

.latest-article > .article-details {
  font-size: 10px;
}



.deals-links,
.deal {
  display: flex;
  flex-direction: column;
}

.deal {
  position: relative;
}

.link {
  color: #f42;
  text-decoration: none;
  margin: 6px 0px;
}

.deal {
  margin: 20px 5px;
}

.deal > img {
  height: 60px;
  width: 60px;
  position: absolute;
  padding: 10px;
  top: 0;
}

.deal > .deal-title,
.deal > .price {
  font-size: 20px;
  font-weight: bold;
  background-color: #f42;
  color: white;
  padding: 11px 16px 11px 84px;
}

.deal > .price,
.deal > .round {
  background-color: rgba(255,68,34,.08);
  padding: 10.5px 16px 0px 84px;
  color: black;
}

.deal > .round {
  padding-top: 5px;
  padding-bottom: 11px;
  text-transform: uppercase;
  font-size: 12px;
}

.deal > .investment-bit,
.deal > .deal-byline {
  background-color: #FFFAF8;
  padding: 16px;
  border-bottom: 1px solid rgba(255,68,34,.25);
  font-size: 14px;
}

.investment-bit > .bit {
  margin: 10px;
}

.deal > .deal-byline {
  border-bottom: none;
  font-size: 12px;
}

.deal > .deal-byline > p > span {
  color: grey;
}