@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  display: flex;
  gap: 16px;
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #666666;
  text-decoration: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content button {
  padding: 5px 13px;
}

.footer {
  background-color: #EEEEEE;
}