/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}

header > .nav {
  display: flex; 
  justify-content: space-between;
  padding: 0px 10px;
}

.nav > * {
  display: flex;
  align-items: center;
}

.nav > * > * {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.nav > * > .icon {
  width: 42px;
  height: auto;
}

.nav > * > .icon:hover {
  cursor: pointer;
}

.nav > .center > * {
  padding: 0px;
  margin: 0px;
}
.nav > .center input {
  width: 35vw;
  height: 33px;
}

#profile {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

#premium {
  height: 60px;
  width: auto;
}

/* Main Body */

main {
  margin: 100px 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 25px;
  max-width: 1800px;
}

main > .left {
  display: grid;
  grid-gap: 25px;
}

.video-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.video-wrapper {
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

.video-container > iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}

.video-wrapper > .video-details {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}

.video-details > .video-info {
  display: flex;
  flex-direction: column;
}

.video-details > .video-info > * {
  margin: 5px;
}

.video-details > .video-stats {
  display: flex;
}

.video-details > .video-stats > * {
  padding: 0px 2.5px;
}