header > .nav {
  display: flex; 
  justify-content: space-between;
}

.nav > * {
  display: flex;
  justify-content: space-evenly;
}

.nav > * > * {
  padding: 10px;
}

main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.video-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.video-container > iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}