/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}

header > .nav {
  display: flex; 
  justify-content: space-between;
  padding: 0px 10px;
}

.nav > * {
  display: flex;
  align-items: center;
}

.nav > * > * {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.nav > * > .icon {
  width: 42px;
  height: auto;
}

.nav > * > .icon:hover {
  cursor: pointer;
}

.nav > .center > * {
  padding: 0px;
  margin: 0px;
}
.nav > .center input {
  width: 35vw;
  height: 33px;
}

#profile, .profile-pic {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

#premium {
  height: 60px;
  width: auto;
}

/* Main Body */

main {
  margin: 100px 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 25px;
  max-width: 1800px;
}

main > .left {
  display: grid;
  grid-gap: 25px;
}

.video-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.video-wrapper {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(143,143,143, 0.25);
}

.video-container > iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}

.video-wrapper > .video-details {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}

.video-details > .video-info {
  display: flex;
  flex-direction: column;
}

.video-details > .video-info > * {
  margin: 5px;
}

.video-details > .video-stats {
  display: flex;
  margin-top: auto;
  padding: px;
}

.video-details > .video-stats > img {
  padding: 0px 2.5px;
}

/* Comments Section */

.profile-pic {
  height: 45px;
  width: 45px;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comments > .comment {
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin-bottom: 20px;
}

.comment-content > .comment-info > h4,
.comment-content > .comment-info > h6 {
 margin: 0px 10px 0px 0px;
}

.comment-info {
  display: flex;
  align-items: center;
}

/* side-bar */

.photo {
  width: 100%;
  height: auto;
}

aside {
  display: flex;
  flex-direction: column;
}

aside > .suggested-video {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
}

.suggested-video-info {
  display: block;
}

.suggested-video-info > * {
  margin: 0px 0px 5px 0px;
}