body {
  margin: 100px;
}

div {
  margin: 0px;
  padding: 0;
}

div div {
  background: #A4Ca39;
  position:relative;
}

.android {
  height: 404px;
  width: 334px;
  margin: 0 auto;
}

.head {
  width: 220px;
  height: 100px;
  border-radius: 110px 110px 0 0;
  -moz-border-radius: 110px 110px 0 0;
  -webkit-border-radius: 110px 110px 0 0;
}

.l_eye, .r_eye {
  background: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 42px;

  border-radius: 10px;
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
}

.l_eye {left: 50px}
.r_eye {right: 50px}

.l_ant, .r_ant {
  width: 6px;
  height: 50px;
  position: absolute;
  top: -34px;

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
}

.l_ant{
  left: 50px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
}

.r_ant {
  right: 50px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.body {
  width: 220px;
  height: 184px;
  top: 10px;

  border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
}