nav {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
}

nav > * {
  padding: 14px 14px;
}

nav > .fas {
  font-size: 20px;
  border-left: 1px solid rgba(0,0,0,.15);
  margin: 0px;
}

.fa-search {
  color: rgba(0,0,0,.15);
}

.fa-bars {
  color: #f42;
}

nav > img {
  justify-self: start;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  padding: 16px 20px;
  background-size: auto;
  width: 66px;
  height: 16px;
}

body > .cover {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 0px auto;
}

.cover > .cover-story,
.topic-highlight {
  height: 28.65vh;
  position: relative;
  overflow: hidden;
}

.cover-story > img,
.topic-highlight > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cover-wrapper,
.topic-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  background: linear-gradient( rgba(0,0,0, 0.20), rgba(0, 0, 0, 1));
  height: 100%;
  width: 100%;
  display: grid;
  align-items: end;
}

.cover-header,
.topic-header {
  display: grid;
  grid-gap: 8px;
  align-items: end;
  color: white;
  margin-left: 30px;
  margin-bottom: 15px;
}

.head {
  text-transform: uppercase;
  font-size: 12px;
}

.cover-header > .cover-title,
.topic-header > .topic-title {
  font-size: 20px;
  font-weight: 700;
}

.cover-header > .cover-byline,
.topic-header > .topic-byline {
  color: hsla(0,0%,100%,.6);
  font-size: 12px;
  line-height: 16px;
  display: flex;
}

.cover-byline li,
.topic-byline li {
  margin: 0px 10px 0px 0px;
}

.cover-byline li a,
.topic-byline li a{
  text-decoration: none;
  color: hsla(0,0%,100%,.6);
}

.cover-byline > li > .fas,
.cover-byline > li > .far {
  font-size: 15px;
}

.main-wrapper {
  padding: 0px 30px;
}
  
section {
  margin: 20px 0px;
}

.section-title {
  color: #f42;
  font-weight: bolder;
  font-size: 25px;
  margin: 30px 0px;
}

.section-title::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23F42" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  position: relative;
  top: 0;
  width: 16px;
}

.latest-article {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  justify-items: start;
  align-items: start;
  margin: 10px 0px;
}

.latest-article img {
  grid-row: 1 /-1;
  width: 75px;
  height: 75px;
  object-fit: cover;
  object-position: center;
}

.latest-article > .article-title {
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
}

.latest-article > .article-details {
  font-size: 10px;
}

.deals-links,
.deal {
  display: flex;
  flex-direction: column;
}

.deal {
  position: relative;
}

.link {
  color: #f42;
  text-decoration: none;
  margin: 6px 0px;
}

.deal {
  margin: 20px 5px;
}

.deal > img {
  height: 60px;
  width: 60px;
  position: absolute;
  padding: 10px;
  top: 0;
}

.deal > .deal-title,
.deal > .price {
  font-size: 20px;
  font-weight: bold;
  background-color: #f42;
  color: white;
  padding: 11px 16px 11px 84px;
}

.deal > .price,
.deal > .round {
  background-color: rgba(255,68,34,.08);
  padding: 10.5px 16px 0px 84px;
  color: black;
}

.deal > .round {
  padding-top: 5px;
  padding-bottom: 11px;
  text-transform: uppercase;
  font-size: 12px;
}

.deal > .investment-bit,
.deal > .deal-byline {
  background-color: #FFFAF8;
  padding: 16px;
  border-bottom: 1px solid rgba(255,68,34,.25);
  font-size: 14px;
}

.last-deal {
  display: none;
}

.investment-bit > .bit {
  margin: 10px;
}

.deal > .deal-byline {
  border-bottom: none;
  font-size: 12px;
}

.deal > .deal-byline > p > span {
  color: grey;
}

.topics {
  display: grid;
  grid-gap: 30px;
}

.topic-highlight {
  height: 55%;
  color: white;
}

.topic-lowlight {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  background-color: #FFFAF8;
  grid-gap: 7px;
}

.topic-lowlight img {
  grid-column: -2 / -1;
  grid-row: 1 / -1;
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.diff > img {
  object-position: right bottom;
}

.topic-lowlight p,
.topic-lowlight h3 {
  margin-left: 15px;
  color: #f42;
}

.topic-lowlight h3 {
  margin-top: 15px;
  font-size: 12px;
}

.topic-lowlight p {
  font-size: 14px;
  font-weight: bold;
}

.topic-articles {
  display: grid;
  font-size: 13px;
}

.topic-articles p {
  padding: 14px 0;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 12px;
  margin: 0px;
}

.topic-articles p::before {
  background-color: #f42;
  border-radius: 50%;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  top: 43%;
  width: 5px;
}

.latest-deals {
  display: grid;
  grid-gap: 15px;
}

.latest-deals > .latest-deals-title,
.latest-deals > .link {
  grid-row-start: 1;
  grid-column: 1 / -1;
}

.latest-deals > .link {
  justify-self: end;
}

.latest-deal {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.latest-deal img {
  grid-row: 1 / -1;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.latest-deal h3 {
  margin-top: 1px;
  font-weight: bold;
}

.regular {
  font-size: 12px;
  text-decoration: line-through;
  color: #aaa;
}

.sale {
  color: #555;
}

footer > .links {
  display: flex;
  flex-direction: column;
  background: #131313;
  min-height: 160px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.misc-info ul {
  margin-top: 25px;
  display: flex;
  color: #aaa;
}

.misc-info ul li {
  margin: 0px 5px;
}

.social > .icon {
  color: white;
  background-color: #333;
  border-radius: 50%;
  margin: 2.5px;
  padding: 10px;
}

.misc-info {
  font-size: 14px;
}

footer > .legal {
  min-height: 124px;
  background: #000;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11px;
}

.legal p {
  margin: 2.5px;
}

@media (min-width: 768px) {

  .section-title {
    grid-column: 1 / -1;
  }

  body > .cover {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    height: 53vh;
  }
  
  .cover > .cover-story {
    grid-column: -2 / -1;
    height: 100%;
    width: 100%;
  }

  .cover-header {
  margin-left: 10px;
  margin-bottom: 15px;
  }

  .cover > .primary-story {
    grid-column: 1 / -2;
    grid-row: 1 / -1;
  }

  .cover > .primary-story > .cover-wrapper {
    padding-left: 15px;
  }

  .main-wrapper > .latest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }

  .latest-article {
    display: flex;
    flex-direction: column;
  }
  
  .latest-article img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  
  .latest-article > .article-title {
    margin-top: -3px;
  }

  .main-wrapper > .deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-wrapper > .deals > .deals-links {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: auto auto 1fr;
  }

  .main-wrapper > .deals > .deals-links a:nth-child(-n+2)::after {
    content: '|';
    margin: 0px 10px;
    font-weight: bolder;
  }

  .main-wrapper > .topics {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .topic-highlight {
    height: 40%;
  }

  .main-wrapper > .latest-deals {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .latest-deals > .latest-deal {
    display: flex;
    flex-direction: column;
  }

  .latest-deal > img {
    width: 100%;
    height: auto;
  }

  footer > .legal {
    flex-direction: row;
    align-items: center;
  } 

  footer > .legal p {
    margin: 0px 3px;
  }
}

@media (min-width: 1024px) {
  body > .cover {
    height: 57vh;
  }
  .cover > .primary-story h2 {
    font-size: 45px;
  }

  .main-wrapper > .latest {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .last-deal {
    display: inline;
  }

  .main-wrapper > .deals {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .main-wrapper > .deals > .deals-links,
  .main-wrapper > .deals > .deals-title {
    grid-row-start: 1;
    grid-column: 1/-1;
  } 
  
  .main-wrapper > .deals > .deals-links {
    justify-items: end;
    grid-row-start: 1;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr auto auto;
  }

  .main-wrapper > .deals > .deals-links a:nth-child(-n+2)::after {
    content: '|';
    margin: 0px 10px;
    font-weight: bolder;
  }

  .main-wrapper > .topics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .topic-highlight {
    height: 36%;
  }

  .main-wrapper > .latest-deals {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .main-wrapper {
    max-width: 1200px;
    margin: 20px auto;
  }
}